[submodule "modules/puppetlabs-firewall"]
    path = modules/puppetlabs-firewall
    url = https://github.com/puppetlabs/puppetlabs-firewall.git

[submodule "modules/puppetlabs-vcsrepo"]
	path = modules/puppetlabs-vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
